@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oleo+Script+Swash+Caps&family=Public+Sans:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: azure;
}
.main {
  height: 100vh;
}
.sidebar {
  background-color: antiquewhite;
  width: 110px;
}
.sidebar ul li {
  padding: 5px 0;
}
.mainbody {
  width: -webkit-fill-available;
}
.Login {
  background-color: black;
  color: white;
}
.Login:hover {
  color: white;
}
.Login {
  display: inline-block;
  position: relative;
  /* color: blue; */
}
.Login:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}
.Login:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
.teacher {
  background-color: aquamarine;
  border-radius: 6px;
  width: 75%;
}
.error {
  color: red;
  font-weight: bold;
}
.errorinput {
  box-shadow: 0 0 0 0.1rem red;
  border-color: red;
}
.errorinput:focus {
  border-color: red;
  box-shadow: none;
}
.spanfiled {
  font-family: "Public Sans", sans-serif;
}
.updateteacher {
  width: 100%;
}
.utcard {
  /* width: 30.33%; */
}
.bcblack {
  background-color: black;
}
.bcwhite {
  background-color: white;
}
.ffserif {
  font-family: serif;
}
.studentcard {
  background-color: rgb(59, 179, 248);
  border-radius: 4px;
}
.approvestudent .outer-body {
  background-color: white;
  border-radius: 4px;
}
.StdVal {
  font-size: 13px;
}
.StdHeading {
  font-size: 14px;
  font-family: monospace;
}